@import "reset.css";

body {
    background-color:#F6F9FC;
    font-family: "Segoe UI";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main{
    width: 100%;
    height: 970px;
    background-color: black;
    box-shadow: 0 5px 5px rgba(50, 50, 93, 0.11), 0 1px 5px rgba(110, 110, 110, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    float: left;
    margin-left: 30px;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(110, 110, 110, 0.8);

}

.lang-card{
    float: right;
    margin-top: 20px;
    margin-left: 10px;
    width: 130px;
    height: 35px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(110, 110, 110, 0.8);

}

.main-text{
    text-align: center; 
    color: white;
    margin-top: -30px;
}

.main-img{
    left: 50%; 
    color: white;
    
}


.title-main-text{
    margin-top: 30px;
    text-align: center; 
}



.content-text{
    margin-top: 5px;
    margin-left: 90px;
}

.main-lang{
    margin-top: 5px;
    margin-left: 90px;
}

.lang{
    margin-top: 5px;
}

.big{
    font-size: 40px;
}

.small{
    font-size: 15px;
}


.card-main-text{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 40px;
}

.lang-text{
    margin-top: 7px;
    font-size: 20px;
    text-align: center;

}

.lang-img{
    float: left;
    margin-top: 2px;
    margin-left: 10px;
    height: 30px;
}

.project-text{
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
}

.project-content{
    margin-top: 7px;
    font-size: 15px;
    text-align: center;
    line-height: initial;
    display:block;
}

.project-github{
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    height: 35px;
}

/*
화살표 출처: http://rwdb.kr/css_scroll_icon/
*/
a {
    padding-top: 60px;
  }
  .arrow{
    position: absolute;
    margin-top: 100px;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb 2s infinite;
    animation: sdb 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
  }
  @keyframes sdb {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    20% {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
    40% {
      transform: rotate(-45deg) translate(0, 0);
    }
  }