@import "reset.css";

body {
    background-color:#F6F9FC;
    font-family: "Segoe UI";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top{
    width: 100%;
    height: 200px;
    background-color: white;
}

.main{
    width: 100%;
    height: 800px;
    background-color: black;
    box-shadow: 0 5px 5px rgba(50, 50, 93, 0.11), 0 1px 5px rgba(110, 110, 110, 0.8);
}

.card{
    margin-top: 20px;
    width: 1200px;
    height: 300px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 5px 5px rgba(50, 50, 93, 0.11), 0 1px 5px rgba(110, 110, 110, 0.8);

}

.main-text{
    margin-top: 230px;
    text-align: center; 
    color: white;

}

.main-img{
    margin-top: 0px;
    position: absolute; 
    left: 50%; 
    margin-left: -130px;
    color: white;
    
}


.title-main-text{
    margin-top: 30px;
    margin-left: -1000px;
}


.content-text{
    margin-top: 5px;
    margin-left: 90px;
}

.main-lang{
    margin-top: 5px;
    margin-left: 90px;
}

.lang{
    margin-top: 5px;
}

.big{
    font-size: 60px;
}

.card-main-text{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 40px;
}