
body {
    margin: 0;
    font-family: 'Pretendard';
    background-color: #2E3440;
    color: #D8DEE9;
}

@keyframes backgroundScroll {
    from {
        background-position: top left;
    }
    to {
        background-position: bottom right;
    }
}