@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: 'D2Coding';
    background-color: #282C34;
    color: #9FB2BF;
}

#pink { color: #C678DD; }
#red { color: #B03E45; }
#blue { color: #3282E4; }
#green { color: #44B6BB; }
#yellow { color: #E5C07B; }
#orange { color: #D19A66; }
#lightgreen { color: #7CC370; }

#tap { white-space: pre; }

#bg {
    background-image: url(./images/bg.png);
    animation: backgroundScroll 10s;
}

@keyframes backgroundScroll {
  from {
    background-position: top left;
  }
  to {
    background-position: bottom right;
  }
}
